.posts{
    overflow:auto;
    height: 700px;
    width: 70%;
    background-color: rgb(245, 193, 144);
}

.large{width: 150px;height: 150px;border-radius: 100%;}
.small{width: 100px;height: 100px;border-radius: 100%;}
.contacs{background-color: black ; color: white; width: fit-content;}
.description{background-color: aqua;width: 70%;overflow: auto;}
.item{font-size: 25px; width: max-content;}
.imgs{background-color: aquamarine; width: 70%;}
.changeStatus{height: 30px; font-size: large;}
.error{font-size: 35px;color: red;}